<!-- base index html, insert content here -->
{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- <div class="container-fluid">
        <div class="row">
           <div class="card text-dark">
                <h2 class="mb-0 text-center">{{ membership.name }}</h2><hr>
                <p class="">{{ membership.description }}</p>
                <p class="lead price mb-0 font-weight-bold">${{ membership.price }}</p>
            </div>
        </div>
    </div> -->

<div class="container-fluid">
        <div class="row m-cards">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Membership Plans</h2>
                <hr class="w-75 mx-auto mb-1">
                <h5 class="">Choose the membership plan that best suits your needs:</h5>
            </div>
        </div>
        <div class="row memberships">
            <div class="col-10 offset-1 mb-4">
                <div class="card bg-dark">
                    <div class="row card-body">
                        
                        <div class="col-sm-12 col-md-5 card-bg-detail">
                        </div>

                        <div class="col-sm-12 col-md-7 card-m-detail">
                            <div class="card">

                                <div class="card-header detail-price">
                                    €{{ membership.price }}/mo
                                </div>
                                
                                <div class="card-body">
                                    <h5 class="card-title">{{ membership.name }}</h5>
                                    <p class="card-text">{{ membership.description }}</p>
                                    <a href="{% url 'memberships' %}" class="btn btn-secondary">Go Back</a>
                                    <a href="#" class="btn btn-primary">Subscribe now</a>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>

            </div>
        </div>
    </div>    
{% endblock %}