<!-- base index html, insert content here -->
{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">

    <!-- memberships path -->
    <div class="row sm-font text-center">
        <div class="col-12 mt-1">
            <a class=" text-reset" href="/">Home</a>
            <span>/</span>
            <a class=" text-reset" href="{% url 'memberships' %}">Memberships</a>
            <span>/</span>
            <span>{{ membership.name }}</span>            
        </div>         
    </div>
    
    <!-- memberships header -->
    <div class="row m-cards">
        <div class="col-10 offset-1 text-center mt-3">
            <h2 class="logo-font">Membership Plans</h2>
            <hr class="w-100 mb-1">
            <h5 class="">Submit now for the membership plan that best suits your needs:</h5>
        </div>
    </div>
    
    <!-- membership detail card -->
    <div class="row">
        <div class="col-10 offset-1 my-4">
            <div class="card main-detail-card bg-light ">
                <div class="row">

                    <!-- membership detail image -->
                    <div class="col-12 col-lg-6">
                        <a href="{{ membership.image.url }}" target="_blank" class="mx-auto">  
                            {% if membership.image %}
                                <a href="{{ membership.image.url }}" target="_blank">
                                    <img class="card-img-top img-fluid rounded" src="{{ membership.image.url }}" alt="{{ membership.name }}">
                                </a>
                                {% else %}
                                <a href="">
                                    <img class="card-img-top img-fluid" src="{{MEDIA_URL }}noimage.png" alt="{{ membership.name }}">
                                </a>
                            {% endif %}
                        </a>                    
                    </div>

                    <!-- membership details -->
                    <div class="col-12 col-lg-6">
                        <div class="text-dark p-2">
                            <h1 class="lg-font">{{ membership.name }}</h1>
                            <hr class="w-100 my-1">
                            <p class="lg-font font-mb my-2" >€{{ membership.price }}/mo</p>
                            <hr class="w-100 my-1">
                            <p class="sm-font">{{ membership.description }}</p>
                            <a href="{% url 'memberships' %}" class="btn btn-outline-dark">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
{% endblock %}