{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}

<div class="container-fluid">

    <!-- bag path -->
    <div class="row sm-font text-center">
        <div class="col-12 mt-1">
            <a class=" text-reset" href="{% url 'products' %}">Shop</a>
            <span>/</span>
            <a class=" text-reset" href="{% url 'view_bag' %}">Your bag</a>    
        </div>         
    </div>
</div>

<!-- bag header -->

<div class="container-fluid row g-0">
    <div class="rounded my-4 bag-main-div col-10 offset-1 bg-light p-2">
         <div class="row">
            <div class="col-12 text-start mt-2">
                <h2 class="d-none d-sm-block">Your Shopping Bag:</h2>
                <h4 class="d-sm-none" >Your Shopping Bag:</h4>
            </div>
        </div>
        <hr class="w-100 mb-1">

        <!-- product list before medium breakpoint-->
        {% if bag_products %}
        <div class="d-md-none">
            {% for product in bag_products %}
            <div class="row">
                <!-- image -->
                <div class="col-12 col-sm-6">
                    <p class="mb-0 fs-3">{{ product.product.name }}</p>
                    <img class="img-fluid rounded" src="{{ product.product.image.url }}">
                </div>
                <!-- form qty update/remove -->
                <div class="col-12 col-sm-6">
                    <form class="form update-form" method="POST" action="{% url 'adjust_bag' product.product_id %}">
                        {% csrf_token %}
                        <!-- quantity selector -->
                        <div class="col-12">
                            <div class="form-group w-100 mt-2">
                                <div class="input-group">
                                    
                                    <!-- minus button -->
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-sm btn-outline-info"
                                        data-product_id="{{ product.product_id }}" id="decrement-qty_{{ product.product_id }}">
                                            <span>
                                                <i class="fas fa-minus fa-sm"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <!-- quantity number -->
                                    <input class="form-control form-control-sm qty_input" type="number"
                                    name="quantity" value="{{ product.quantity }}" min="1" max="99"
                                    data-product_id="{{ product.product_id }}"
                                    id="id_qty_{{ product.product_id }}">
                                    <!-- plus button -->
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-sm btn-outline-info"
                                        data-product_id="{{ product.product_id }}"
                                        id="increment-qty_{{ product.product_id }}">
                                            <span>
                                                <i class="fas fa-plus fa-sm"></i>
                                            </span>
                                        </button>                                                 
                                    </div>
                                    {% if product.product.has_sizes %}
                                    <input type="hidden" name="product_size" value="{{ product.size }}">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </form>

                    <!-- update/remove buttons -->
                    <a class="update-link text-info small text-decoration-none">Update
                        <i class="fas fa-sync-alt"></i>
                    </a>
                    <a class="remove-item text-danger small float-end text-decoration-none" id="remove_{{ product.product_id }}"
                    data-product_size="{{ product.size }}">Remove
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>               
                <!-- description -->
                <div class="col-12 col-sm-6">
                    <p class="my-0 small text-muted">Product code:{{ product.product.pk }}</p>
                    <p class="my-0
                    {% if product.product.has_sizes != True %}d-none{% endif %}">Size: {{ product.size|upper }}</p>
                    <p class="my-0">Price: €{{ product.product.price }}</p>
                </div>
                <!-- subtotal product -->
                <div class="col-12 col-sm-6">
                    <p class="pt-2 text-center mt-0 mb-1"><span class="fw-bolder">Product subtotal: </span>€{{ product.product.price | prd_subtotal:product.quantity }}</p>
                </div>
            </div>
            <hr class="w-100 mt-1 mb-4">
            {% endfor %} 

            <!-- checkout total -->
            <div class="row">
                <div class="col text-end">
                    <h6 class="text-muted small"><strong >SubTotal: €{{ total|floatformat:2 }}</strong></h6>
                    <h6 class="text-muted small">Delivery cost:€{{ delivery }}</h6>
                    <h3>Total: €{{ final_total|floatformat:2 }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <a href="{% url 'products' %}" class="btn">
                        <span>
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span>Continue shopping</span>
                    </a>
                    <a href="{% url 'checkout' %}" class="my-2 my-sm-0 btn btn-info text-uppercase">
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                        <span class="text-uppercase small">Checkout Securely Now</span>
                    </a>
                </div>
            </div>
        </div>    
        {% else %}
        <div class="d-block d-md-none">
            <p class="font-subtitle">Your shopping bag is empty</p>
            <a href="{% url 'products' %}" class="btn btn-outline-info my-2">
                <span>
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span>Continue shopping</span>
            </a>
        </div>
        {% endif %}

        <!-- product list after medium breakpoint-->
        {% if bag_products %}
        <div class="table-responsive d-none d-md-block">
            <table class="table align-middle table-hover">
                <thead>
                    <tr>
                        <th scope="col">Product Info</th>
                        <th scope="col"></th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">SubTot</th>
                    </tr>
                </thead>
                {% for product in bag_products %}
                <tbody>
                    <tr>
                        <td class="align-top w-25">
                            <img class="img-fluid small-prd-img rounded" src="{{ product.product.image.url }}">
                        </td>
                        <td class="align-top">
                            <p class="mt-0">{{ product.product.name }}</p>
                            <p class="mt-0
                            {% if product.product.has_sizes != True %}d-none{% endif %}">Size: {{ product.size|upper }}</p>
                            <p class="mt-0 small text-muted">Product code:{{ product.product.pk }}</p>
                        </td>
                        <td class="align-top">
                            <p class="py-2">€{{ product.product.price }}</p>
                        </td>
                        <td class="align-top w-25">
                            <form class="form update-form" method="POST" action="{% url 'adjust_bag' product.product_id %}">
                                {% csrf_token %}
                                <!-- quantity selector -->
                                <div class="col-12">
                                    <div class="form-group w-100 mt-2">
                                        <div class="input-group">
                                            
                                            <!-- minus button -->
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-sm btn-outline-info"
                                                data-product_id="{{ product.product_id }}" id="decrement-qty_{{ product.product_id }}">
                                                    <span>
                                                        <i class="fas fa-minus fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <!-- quantity number -->
                                            <input class="form-control form-control-sm qty_input" type="number"
                                            name="quantity" value="{{ product.quantity }}" min="1" max="99"
                                            data-product_id="{{ product.product_id }}"
                                            id="id_qty_{{ product.product_id }}">
                                            <!-- plus button -->
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn-sm btn-outline-info"
                                                data-product_id="{{ product.product_id }}"
                                                id="increment-qty_{{ product.product_id }}">
                                                    <span>
                                                        <i class="fas fa-plus fa-sm"></i>
                                                    </span>
                                                </button>                                                 
                                            </div>
                                            {% if product.product.has_sizes %}
                                            <input type="hidden" name="product_size" value="{{ product.size }}">
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- update/remove buttons -->
                            <a class="update-link text-info small text-decoration-none">Update
                                <i class="fas fa-sync-alt"></i>
                            </a>
                            <a class="remove-item text-danger small float-md-end text-decoration-none" id="remove_{{ product.product_id }}"
                            data-product_size="{{ product.size }}">Remove
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                        <td class="align-top">
                            <p class="py-2">€{{ product.product.price | prd_subtotal:product.quantity }}</p>
                        </td>
                    </tr>
                </tbody>
                {% endfor %} 
                <tr>
                    <td colspan="5" class="pt-1 text-end">
                        <h6 class="text-muted small"><strong >SubTotal: €{{ total|floatformat:2 }}</strong></h6>
                        <h6 class="text-muted small">Delivery cost:€{{ delivery }}</h6>
                        <h3>Total: €{{ final_total|floatformat:2 }}</h3>
                    </td>
                </tr>
                <tr>
                    <td colspan="5" class="text-end">
                        <a href="{% url 'products' %}" class="btn">
                            <span>
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span>Continue shopping</span>
                        </a>
                        <a href="{% url 'checkout' %}" class="my-2 my-sm-0 btn btn-info">
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                            <span class="text-uppercase small">Checkout Securely Now</span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        {% else %}
        <div class="d-none d-md-block">
            <p class="font-subtitle">Your shopping bag is empty</p>
            <a href="{% url 'products' %}" class="btn btn-outline-info my-2">
                <span>
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span>Continue shopping</span>
            </a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/qty_input_js.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>

{% endblock %}