<!-- base index html, insert content here -->
{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container home-cont">
    <div class="row h-100">
        <div class="col-12 my-auto">
            <h1 class="display-4 logo-font text-black">
                Discover our<br>Fitness Plans here!</h1>
            <div class="my-4">
                <a class="btn btn-lg btn-outline-light" href="{% url 'memberships' %}" role="button"> Start now</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
