{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
<!-- profile header -->
<div class="container-fluid row g-0">
    <div class="rounded mt-1 mb-3 my-md-4 bag-main-div col-10 offset-1 bg-light p-2">
        <div class="row">
            <div class="col-12 text-start mt-2">
                <h2 class="d-none d-sm-block">My Profile</h2>
                <h4 class="d-sm-none mb-0" >My Profile</h4>
            </div>
        </div>
        <hr class="w-100 mb-1">

        <!--Customer's saved delivery details form-->
        <div class="row">
            <!--Delivery Information-->
            <div class="col-sm-12 col-lg-6">
                <p class="bold fs-5">Delivery Details</p>
                <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}                    
                    <button class="btn btn-info my-4 float-end">Update Information</button>
                </form>
            </div>
            <!--Order History-->
            <div class="col-sm-12 col-lg-6">
                <p class="bold fs-5">Order History</p>
                <div class="orders-list table-responsive">
                    <table class="table-sm table-borderless">
                       <thead>
                          <tr>
                             <th>Order Number</th>
                             <th class="text-center">Order Date</th>
                             <th class="text-center">Items</th>
                             <th class="text-center">Order Total</th>
                          </tr>
                       </thead>
                       <tbody>
                          {% for order in orders %}
                          <tr>
                             <td>
                                <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                                {{ order.order_number|truncatechars:10 }}</a>
                             </td>
                             <td>{{ order.date }}</td>
                             <td>
                                <ul class="list-unstyled">
                                   {% for product in order.lineitems.all %}
                                   <li class="small">
                                      {% if product.product.has_sizes %}
                                          Size {{ product.product.size|upper }}
                                      {% endif %} {{ product.product.name }} x {{ product.quantity }}
                                   </li>
                                   {% endfor %}
                                </ul>
                             </td>
                             <td class="text-center">€{{ order.final_total }}</td>
                          </tr>
                          {% endfor %}
                       </tbody>
                    </table>
                 </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}