{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid">

    <!-- bag path -->
    <div class="row sm-font text-center">
        <div class="col-12 mt-1">
            <a class=" text-reset" href="{% url 'products' %}">Shop</a>
            <span>/</span>
            <a class=" text-reset" href="{% url 'view_bag' %}">Your bag</a>    
        </div>         
    </div>
</div>

<!-- bag header -->

<div class="container-fluid row g-0">
    <div class="rounded mt-1 mb-3 my-md-4 bag-main-div col-10 offset-1 bg-light p-2">
         <div class="row">
            <div class="col-12 text-start mt-2">
                <h2 class="d-none d-sm-block">Your Shopping Bag:</h2>
                <h4 class="d-sm-none mb-0" >Your Shopping Bag:</h4>
            </div>
        </div>
        <hr class="w-100 mb-1">

        <div class="row">
           <div class="col-12 col-lg-6 mt-2">
                <p class="text-muted">Please fill out this form below to complete your order:</p>
                <!-- checkout form -->
                <form action="{% url 'checkout' %}" method="POST" id="checkout-form">
                    {% csrf_token %}
                    <fieldset class="rounded px-3 mb-2 mb-md-4">
                        <legend class="fieldset-label w-auto small text-black px-2">Your details:</legend>
                        {{ order_form.full_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}
                    </fieldset>  
                    <fieldset class="rounded px-3 mb-3">
                        <legend class="fieldset-label w-auto small text-black px-2">Shipping info:</legend>
                        {{ order_form.phone_number | as_crispy_field }}
                        {{ order_form.country | as_crispy_field }}
                        {{ order_form.postcode | as_crispy_field }}
                        {{ order_form.town_or_city | as_crispy_field }}
                        {{ order_form.street_address1 | as_crispy_field }}
                        {{ order_form.street_address2 | as_crispy_field }}
                        {{ order_form.county | as_crispy_field }}
                        <div class="form-check form-check-inline ps-1 mt-2 float-start">
                            {% if user.is_authenticated %}
                                <input class="form-check-input mx-0" id="id-save-info" type="checkbox" name="save-info" checked>
                                <label class="form-check-label text-co-smaller ps-1" for="id-save-info">Save this info to my profile</label>
                            {% else %}
                                <label class="form-check-label" for="id-save-info">
                                    <a class="text-info" href="{% url 'account_signup' %}">Creat an account</a> or
                                    <a class="text-info" href="{% url 'account_login' %}">Login</a> to save this information
                                </label>
                            {% endif %}
                        </div>
                    </fieldset>  
                    <fieldset class="rounded px-3 mb-1">
                        <legend class="fieldset-label w-auto small text-black px-2">Payment:</legend>
                        <div class="mb-1" id="card-element"></div>
                        <div class="mb-1 text-danger" role="alert" id="card-errors"></div>
                    </fieldset>  

                    <!-- payment submit btn -->
                    <div class="submit-button text-center text-md-end my-2 px-3">
                        <a href="{% url 'view_bag' %}" class="btn">
                            <span>
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span>Adjust bag</span>
                        </a>
                        <button id="submit-button" class="btn btn-info text-uppercase">
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                            <span class="text-uppercase small">Complete order now</span>
                        </button>
                        <p class="mb-3 text-success ms-0 ms-sm-2 mt-2">
                            <span>
                                <i class="fas fa-exclamation-circle"></i>
                            </span>
                            <span><strong>Total price to be charge: €{{ final_total|floatformat:2 }}</strong></span>
                        </p>
                    </div>
                </form>
           </div>
       </div>
   </div>
</div>
{% endblock %}