{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}

<!-- loading overlay -->
<div id="loading-overlay">
    <h1 class="text-light logo-font loading-spinner">
       <span class="icon">
       <i class="fas fa-3x fa-sync-alt fa-spin"></i>
       </span>
    </h1>
 </div>


<div class="container-fluid">
    <!-- bag path -->
    <div class="row sm-font text-center">
        <div class="col-12 mt-1">
            <a class=" text-reset" href="{% url 'products' %}">Shop</a>
            <span>/</span>
            <a class=" text-reset" href="{% url 'view_bag' %}">Your bag</a>
            <span>/</span>
            <a class=" text-reset" href="{% url 'checkout' %}">Checkout</a>
        </div>         
    </div>
</div>

<!-- checkout header -->
<div class="container-fluid row g-0">
    <div class="rounded mt-1 mb-3 my-md-4 bag-main-div col-10 offset-1 bg-light p-2">
        <div class="row">
            <div class="col-12 text-start mt-2">
                <h2 class="d-none d-sm-block">Checkout:</h2>
                <h4 class="d-sm-none mb-0" >Checkout:</h4>
            </div>
        </div>
        <hr class="w-100 mb-1">

        <div class="row checkout-main-div">

            <!-- checkout product list -->
            <div class="col-12 col-lg-6 order-lg-last mt-2 ">
                <div class="row ">
                    <p>Total items {{ product_count}} </p>
                    <div class="col-8">
                        <p class="mb-1 mt-0 small text-muted">Item</p> 
                    </div>
                    <div class="col-4">
                        <p class="mb-1 mt-0 small text-muted">Subtotal</p> 
                    </div>
                </div>
                <div class="checkout-list border border-info rounded">
                    {% for product in bag_products %}
                        <div class="row">
                            <div class="col-4 mb-1">
                                <img class="img-fluid rounded w-75" src="{{ product.product.image.url }}">
                            </div>
                            <div class="col-4">
                                <p class="my-0 small">{{ product.product.name }}</p>
                                <p class="my-0 small text-muted {% if product.product.has_sizes != True %}d-none{% endif %}">
                                    Size: {{ product.size|upper }}</p>
                                <p class="my-0 small text-muted">Qty: {{ product.quantity }}</p>
                            </div>
                            <div class="col-4">
                                <p class="my-0">€{{ product.product.price | prd_subtotal:product.quantity }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!-- checkout form -->
            <div class="col-12 col-lg-6 mt-3">
                <p class="text-muted">Please fill out this form below to complete your order:</p>
                <form action="{% url 'checkout' %}" method="POST" id="checkout-form">
                    {% csrf_token %}
                    <fieldset class="rounded px-3 mb-2 mb-md-4">
                        <legend class="fieldset-label w-auto small text-black px-2">Your details:</legend>
                        {{ order_form.full_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}
                    </fieldset>  
                    <fieldset class="rounded px-3 mb-3">
                        <legend class="fieldset-label w-auto small text-black px-2">Shipping info:</legend>
                        {{ order_form.phone_number | as_crispy_field }}
                        {{ order_form.country | as_crispy_field }}
                        {{ order_form.postcode | as_crispy_field }}
                        {{ order_form.town_or_city | as_crispy_field }}
                        {{ order_form.street_address1 | as_crispy_field }}
                        {{ order_form.street_address2 | as_crispy_field }}
                        {{ order_form.county | as_crispy_field }}
                        <div class="form-check form-check-inline ps-1 mt-2 float-start">
                            {% if user.is_authenticated %}
                                <input class="form-check-input mx-0" id="id-save-info" type="checkbox" name="save-info" checked>
                                <label class="form-check-label text-co-smaller ps-1" for="id-save-info">Save this info to my profile</label>
                            {% else %}
                                <label class="form-check-label" for="id-save-info">
                                    <a class="text-info" href="{% url 'account_signup' %}">Creat an account</a> or
                                    <a class="text-info" href="{% url 'account_login' %}">Login</a> to save this information
                                </label>
                            {% endif %}
                        </div>
                    </fieldset>  
                    <fieldset class="rounded px-3 my-1">
                        <!-- test cards 4000 0027 6000 3184 -->
                        <legend class="fieldset-label w-auto small text-black px-2">Payment</legend>
                        <!--A stripe Card element will go here-->
                        <div id="card-element"></div>
                        <!--Used to display form errors-->
                        <div id="card-errors" class="text-danger ps-1" role="alert"></div>
                        <!-- Pass the client secret to the view so we can get the payment intent id -->
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    </fieldset>  
                    
                    <div class="text-start my-3 px-3">
                        <hr class="w-100">
                        <h6 class="text-muted small"><strong >SubTotal: €{{ total|floatformat:2 }}</strong></h6>
                        <h6 class="text-muted small">Delivery cost:€{{ delivery }}</h6>
                        <h5>Total: €{{ final_total|floatformat:2 }}</h5>
                        <hr class="w-100">
                    </div>

                    <!-- payment submit btn -->
                    <div class="submit-button text-center text-md-end my-2 px-3">
                        <a href="{% url 'view_bag' %}" class="btn mt-1">
                            <span>
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span>Adjust bag</span>
                        </a>
                        <button id="submit-button" class="btn btn-info mt-1 shadow">
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                            <span class="text-uppercase small">Complete order now</span>
                        </button>
                        <p class="mb-3 text-success ms-0 ms-sm-2 mt-2">
                            <span>
                                <i class="fas fa-exclamation-circle"></i>
                            </span>
                            <span><strong>Total price to be charge: €{{ final_total|floatformat:2 }}</strong></span>
                        </p>
                    </div>
                </form>
           </div>
        </div>
   </div>
</div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>

{% endblock %}