@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
    height: 100%;
}

body{
    background: url('/media/gym-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: rgb(255, 255, 255);
}

/* navbar */

/* main section */

.main-section{
    margin-top: 56px;
}

.overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.logo-font{
    color: white;
}

/* home */

.home-cont{
    width: 60%;
    height: 90vh;
}

/* membership  */

.memberships{
    color: black;
}

.cards-margin{
    margin-left: -5px;
    margin-right: -5px;
}

.md-expansion:hover {
transform: scale(1.05);
transition: 0.4s;
}


/* membership detail page */

.main-detail-card{
    background-color: #030305;
}

.font-mb{
    font-style: italic;
    font-weight: 600;
    font-size: 1.25rem;
}


/* media responsiveness */

@media only screen and (min-width: 992px) and (min-height: 480px){
 .m-card{
    height: 300px;
 }

 .card-body{
    padding: 40px;
 } 

 .m-cards{
    padding-top: 70px;
 }

}

@media only screen and (min-width: 992px) {
    
 .search-box{
    width: 250px;
 }

 .link-exp:hover {
    transform: scale(1.05);
    transition: 0.2s;
    color: white!important;
 }

}

@media only screen and (min-width: 768px){
 .card-m-detail{
    padding-left: 0px;
    padding-right: 0px;
 }

}
