* {
    position: relative;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body{
    background: url('/media/gym-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: rgb(255, 255, 255);
}

/* navbar */

.bag{
    display: contents;
}

.bag-icon{
    color: white;
    display: -webkit-box;
} 

.fa-shopping-cart{
    padding-right: 5px!important;
}

.user-link-top{
    background-color: #393e44;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
}

.user-link-btm{
    background-color: #393e44;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
}

.g-0-nav{
    padding-right:0.75rem;
    padding-left:0.75rem;
}

/* main section */

.main-section{
    margin-top: 56px;
}

.overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.logo-font{
    color: white;
    transform: scale(1.05);
    transition: 0.4s;
}

/* home */

.total-vh{
    height: 90vh;
}

.text-carousel{
  margin: auto;
  width: 60%;
  padding-top: 32vh;
}

/* membership  */

.memberships{
    color: black;
}

.cards-margin{
    margin-left: -5px;
    margin-right: -5px;
}

.md-expansion:hover {
transform: scale(1.05);
transition: 0.4s;
}


/* membership detail page */

.main-detail-card{
    background-color: #030305;
}

.font-mb{
    font-style: italic;
    font-weight: 600;
    font-size: 1.25rem;
}

.font-subtitle{
    font-family: Biotif,"Noto Sans","Noto Sans JP","Noto Sans KR",Helvetica;
    font-weight: 400;
    font-size: 1.27rem;
    line-height: 1.75rem;
    color: #1a1a1a;
    text-transform: none;
    color: #707070;
}

.div-img{
    background-color: black;
    height: 100%;
}

/* products */

.prd-main-div, .prd-main-div h2{
    color: black;
}

.bg-product{
    background-color: white;
    background: padding-box;
}

.bg-product-img{
    background-color: rgb(255, 255, 255);
    height: 100%;
    overflow: hidden; 
}

.prd-img-zoom{
    display: block;
    transition: transform .4s;
}

.bg-product-img:hover img {
    transform: scale(1.3);
    transform-origin: 50% 50%;
}

/* bag */

.bag-main-div, .bag-main-div h2{
    color: black;
}


/* media responsiveness */

@media only screen and (min-width: 992px) and (min-height: 480px){
 .m-card{
    height: 300px;
 }

 .card-body{
    padding: 40px;
 } 

 .m-cards{
    padding-top: 70px;
 }

}

/* max-min height media */

@media only screen and (max-height: 480px) {

 .text-carousel{
   padding-top: 20vh;
 }

}

@media only screen and (max-height: 375px) {

 .text-carousel{
   padding-top: 12vh;
 }

}

/* max-min width media */

@media only screen and (min-width: 992px) {
    
 .search-box{
    width: 250px;
 }

 .link-exp:hover {
    transform: scale(1.05);
    transition: 0.2s;
    color: white!important;
 }

}

@media only screen and (min-width: 768px){
 .card-m-detail{
    padding-left: 0px;
    padding-right: 0px;
 }

}

/* navbar mobile */

@media only screen and (max-width: 991px) {
 .user-link-top{
    padding-top: 0rem;
    padding-bottom: 0.5rem;
    margin-top: 0rem;
    margin-bottom: -0.5rem;
    border-radius: 5px 5px 0 0;
 }
 .user-link-btm{
    padding-bottom: 0rem;
    margin-bottom: 0rem;
    border-radius: 0 0 5px 5px;
 }

 .ul-nav{
    margin-left: -0.75rem;
    margin-right: -0.75rem;
 }

 .ul-nav li{
    padding-left: 0.75rem;
    padding-right: 0.75rem;
 }

}