@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
    height: 100%;
}

body{
    background: url('/media/gym-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: rgb(255, 255, 255);
}

.navbar{
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
}

.main-section{
    margin-top: 56px;
}

.overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.logo-font{
    color: white;
}

.memberships{
    color: black;
}

/* home */

.home-cont{
    width: 60%;
    height: 90vh;
}

/* media responsiveness */

@media only screen and (min-width: 992px) and (min-height: 480px){
 .m-card{
    height: 300px;
 }

 .card-body{
    padding: 40px;
 } 

 .price{
    font-size: 1.75rem;
    padding-bottom: 25px;
    text-align: center;
 }

 .m-cards{
    padding-top: 70px;
 }

}

