/* checkout list */

.checkout-list{
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* stripe */

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
}

select,
select option {
  color: #000;
}

select:invalid,
select option[value=""] {
  color: #aab7c4 !important;
}

#loading-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(221, 221, 221, 0.85);
  z-index: 9999999;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;
}

/* media responsiveness */

/* per width */

@media only screen and (max-width: 991px){
    .checkout-list{
        max-height: 250px;
    }
}
@media only screen and (max-width: 436px){
    .text-co-smaller{
    font-size: 13px;
    }
}

/* per height */
