{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid row g-0">
    <div class="rounded my-4 prd-main-div col-10 offset-1 bg-light">

        <!-- products path -->
        <div class="row sm-font text-center">
            <div class="col-12 mt-1">
                <a class=" text-reset" href="/">Home</a>
                <span>/</span>
                <a class=" text-reset" href="{% url 'products' %}">products</a>       
            </div>         
        </div>

        <!-- products header -->
        <div class="row">
            <div class="col-10 offset-1 text-center mt-2">
                <h2 class="logo-font">Shop</h2>
                <hr class="w-100 mb-1">
                <p class="text-start">{{products|length}} Products</p>
            </div>
        </div>

        <!-- products cards -->
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-12 mb-4">
                <div class="row g-0 p-1">
                {% for product in products %}
                <div class="p-1 col-6 col-md-4 col-xl-3 my-3">
                    <div class="rounded bg-white">
                        <a href="{% url 'product_detail' product.id %}" class="text-reset text-decoration-none">
                            <div class=" mt-2">

                                <div class="rounded bg-product-img "> 
                                    <img class="img-fluid rounded prd-img-zoom" src="{{ product.image.url }}" alt="{{ membership.name }}">
                                </div>

                                <div class="pb-0 bg-white text-left">
                                    <h4 class="mb-0 text-start">{{ product.name }}</h4>
                                </div>
                                
                                <div class="bg-white text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p>€{{ product.price }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>    
                    </div>
                </div>
                {% endfor %} 
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}