<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-capper bg-success w-100">
    <div class="toast-header bg-white text-black">
        <img src="" class="rounded me-2" alt="">
        <strong class="mr-auto">Success</strong>
        <small>aria-hidden="true">&times;</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        {{ message }}
  </div>
</div>